<!---低部--> 
<div class="weui-tabbar footer_bar footer_m_index_index" style="position: fixed;display: none;">
    <a class="weui-tabbar__item weui-bar__item_on js_item" id="home"   data-id="home" href="javascript:;">
        <i class="fa fa-home weui-tabbar__icon"></i>
        <p class="weui-tabbar__label">首页</p>
    </a> 
    <a href="javascript:;" class="weui-tabbar__item  js_item " id="news"  data-id="news" >
        <span style="display: inline-block;position: relative;">
            <i class="fa fa-comment-o weui-tabbar__icon"></i> 
            <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">0</span>
        </span>
        <p class="weui-tabbar__label">消息</p>
    </a>
     <a class="weui-tabbar__item  js_item " id="Personal_Center" data-id="Personal_Center" href="javascript:;">
        <i class="fa fa-user weui-tabbar__icon" style="position:relative;"> </i>
        <p class="weui-tabbar__label">个人中心</p>
     </a>
</div>
  <!---低部-->