<script type="text/template" id="cartBoxModal">
    <div class="modal inmodal in" style="background: rgba(0, 0, 0, 0.498039);display:block;overflow-y:scroll;">
        <div class="modal-dialog" style="width: 90%;margin:0px auto;">
            <div class="modal-content animated fadeIn" style="width:100%;height:500px;">
                <div class="modal-header" style="padding-top:0px;padding-bottom:0px;position:relative">
                    <a href="javascript:void(0)" style="position: absolute;top: 0px;right:10px;color:#666;"onclick="$('#modalBackdropBox').html('');$('#modalBackdropBox').hide();"><i class="fa fa-close fa-2x" aria-hidden="true"></i></a>
                    <h4 class="modal-title">购物车</h4>
                </div>
                <div style="display:flex;flex-direction:row;flex-wrap:nowrap;align-items:center;border:1px solid #ccc;padding:5px 0px;">
                    <div style="width:40px;text-align:center;">选择</div>
                    <div style="width:60px;text-align:center;">缩略图</div>
                    <div style="width:calc(25% - 25px);text-align:center;">商品名称</div>
                    <div style="width:calc(25% - 25px);text-align:center;">属性</div>
                    <div style="width:calc(15% - 15px);text-align:center;">单价</div>
                    <div style="width:calc(15% - 15px);text-align:center;">数量</div>
                    <div style="width:calc(5% - 5px);text-align:center;">类型</div>
                    <div style="width:calc(10% - 10px);text-align:center;">小计</div>
                    <div style="width:calc(5% - 5px);text-align:center;">移除</div>
                </div>
                <div class="modal-body" id="userCartItems" style="position:relative;height:379px;padding:0px;"></div>
                <div class="fixed-foot" style="padding:0px 10px;">
                    <div class="fixed_inner" style="background:#fff;">
                        <div style="display:flex;display:-webkit-flex;flex-direction: row;flex-wrap: nowrap;align-items: center;height:49px;">
                            <div id="checkAll" data-sign="" style="display:flex;display:-webkit-flex;flex-direction: row;flex-wrap: nowrap;align-items: center;width: 80px;" onclick="checkAll(this);">
                                <div class="cart-item unchecked-item" style="width:30px;height:30px;"></div>
                                <div class="tip-text">全选</div>
                            </div>
                            <div style="width: 200px;">合计：¥<span id="total" style="font-weight: bold;font-size:18px;color:red;">00.00</span></div>
                            <div class="btn btn-lg btn-primary" style="width: calc(100% - 280px);" id="goToAddOrder">下一步</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="cartBox">
    {{?ljk && ljk.length}}
    {{for(var item in ljk){}}
    {{  
        var subTotal = ljk[item].goods_price * ljk[item].goods_number;
        if(ljk[item].checked === 1){
            checkedItems.push(ljk[item].id);
            if(ljk[item].type === 1){
                total += subTotal;
            }
        }
        if(ljk[item].type === 1){
            allTotal += subTotal;
        }
        allItems.push(ljk[item].id);
    }}
    <div id="cartItem_{{=ljk[item].id}}" style="border:1px solid #ccc;display:flex;display:-webkit-flex;flex-direction:row;flex-wrap:nowrap;align-items:center;margin:5px 0px;{{?a++%2}}background:#fff9ff;{{??}}background:#fff;{{?}}">
        <div style="width:40px;text-align:center;">
            <div class="cart-item {{?ljk[item].checked === 1}}checked-item{{??}}unchecked-item{{?}}" onclick="checkItems({{=ljk[item].id}},{{=ljk[item].type}});"></div>
        </div>
        <div style="width:60px;text-align:center;">
            <img src="{{=ljk[item].goodsThumb}}" style="width: 50px;height: 50px;" />
        </div>
        <div style="width:calc(25% - 25px);text-align:center;">
            {{=ljk[item].goods_name}}
        </div>
        <div style="width:calc(25% - 25px);text-align:center;">
            {{?ljk[item].avs.length}}{{=ljk[item].avs}}{{??}}{{?}}
        </div>
        <div style="width:calc(15% - 15px);text-align:center;">
            ¥{{=ljk[item].goods_price}} / {{=ljk[item].unit}}
        </div>
        <div style="width:calc(15% - 15px);display:flex;display:-webkit-flex;flex-direction:row;align-items:center;justify-content:center;">
            <button style="width: 30px;height:30px;"  onclick="changeCartNum('{{=ljk[item].id}}',-1,{{=ljk[item].goods_price}},{{=ljk[item].type}});">-</button>
                <input data-num="{{=parseInt(ljk[item].goods_number)}}" data-price="{{=ljk[item].goods_price}}" data-cartid="{{=ljk[item].id}}" data-type="{{=ljk[item].type}}" onblur="inputCartNum(this);" style="line-height:30px;width: 60px;height:30px;text-align: center;" type="text" id="gn_{{=ljk[item].id}}" name="goods_number[{{=ljk[item].id}}]" value="{{=parseInt(ljk[item].goods_number)}}"/>
            <button style="width: 30px;height:30px;" onclick="changeCartNum('{{=ljk[item].id}}',1,{{=ljk[item].goods_price}},{{=ljk[item].type}});">+</button>
        </div>
        <div style="width:calc(5% - 5px);text-align:center;">
            {{?ljk[item].type===1}}
            <span style="color:darkgreen;">销售</span>
            {{??}}
            <span style="color:red;">赠送</span>
            {{?}}
        </div>
        <div style="width:calc(10% - 10px);text-align:center;">
            {{?ljk[item].type===1}}
            ¥<span style="color:red;" id="subTotal_{{=ljk[item].id}}">{{=subTotal.toFixed(2)}}</span>
            {{??}}
            ¥<span id="subTotal_{{=ljk[item].id}}" style="text-decoration:line-through;color:#ccc;">{{=subTotal.toFixed(2)}}</span>
            {{?}}
        </div>
        <div style="width:calc(5% - 5px);text-align:center;">
            <button class="btn btn-warning btn-xs" onclick="removeCartItem({{=ljk[item].id}},{{=subTotal}},{{=ljk[item].type}});">移除</button>
        </div>
    </div>
    {{}}}
    {{
        $('#total').html(total.toFixed(2));
        if(checkedItems.length === 0){
            $('#goToAddOrder').removeAttr('onclick');
            $('#goToAddOrder').removeClass('btn-success').addClass('btn-default');
            $('#checkAll').attr('data-sign','-1');
            $('#checkAll').find('.cart-item').addClass('unchecked-item').removeClass('checked-item');
            $('#checkAll').find('.tip-text').html('全选');
        }else{
            $('#goToAddOrder').attr('onclick','goToAddOrder();');
            $('#goToAddOrder').removeClass('btn-default').addClass('btn-success');
            $('#checkAll').attr('data-sign','0');
            $('#checkAll').find('.cart-item').addClass('checked-item').removeClass('unchecked-item');
            $('#checkAll').find('.tip-text').html('全不选');
        }
    }}
    {{??}}
    <div style="height:100%;position:absolute;width:100%;color:red;line-height:100px;text-align:center;display:flex;display:-webkit-flex;flex-direction:row;align-items:center;justify-content:center;">
        <span>购物车为空！</span>
    </div>
    {{
        $('.dropload-down').remove();
        $('#goToAddOrder').removeAttr('onclick');
        $('#goToAddOrder').removeClass('btn-success').addClass('btn-default');
    }}
    {{?}}
</script>
<!-- 购物车end -->