<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>{$Think.session.groupinfo.title}</title>
    <link rel="stylesheet" href="__CSS__/weui.css?002"/>
    <link rel="stylesheet" href="__CSS__/example.css?002"/>
    <link rel="stylesheet" href="__PUBLIC__/tubiao/css/font-awesome.min.css?002"/>
    <link rel="stylesheet" href="__CSS__/style.css?002"/>
    <link rel="stylesheet" href="__CSS__/m.css?002"/>
    <script src="__JS__/zepto.min.js?001"></script>
    <script src="__JS__/weui.min.js?001"></script>
    <script src="__JS__/example.js?001"></script>
    <!--<script type="text/javascript" src="__JS__/areas.js"></script>-->
    <script type="text/javascript" src="__JS__/common.js?001"></script>
    <script type="text/javascript" src="__JS__/doT.js?001"></script>
    <script type="text/javascript" src="__JS__/dropload.js?001"></script>
    <script type="text/javascript" src="__JS__/delay.js?001"></script>
    <script type="text/javascript" src="__JS__/ljk.js?006"></script>
    <script type="text/javascript" src="__JS__/qrcode.min.js?006"></script>
    <script type="text/javascript" src="__JS__/echarts.common.min.js?001"></script>
    <script type="text/javascript" src="__JS__/lrz.bundle.js?001"></script>
    <script type="text/javascript" src="__JS__/global.js"></script>
    <script type="text/javascript" src="__JS__/areas.js"></script>
    <script type="text/javascript" src="__COMMON__/laydate/laydate.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=F1e135ea865b3fab751d242cee1f3a67"></script>
    <style type="text/css">
        .ljk_neirong{
            position: absolute;
            top:50px;
            width: 100%;
            height:calc(100% - 103px);
            background: #fff;
            margin:0px;
        }
    </style>
</head>