<style>
.fjimg{
    margin-right: 3px; margin-bottom: 3px;    width: 59px;    height: 59px;
}
</style>
<div class="weui-cell" style="border-bottom:0px solid #000;" id="uploadimgs">
    <div class="weui-cell__hd"><label class="weui-label">附件(<span style="color: red;" id="uploadedNum">{{if(ljk.imgs){}}{{if(ljk.imgs.urls.length){}}{{=ljk.imgs.urls.length}}{{}}}{{if(ljk.imgs.urls.length==0){}}0{{}}}{{}}}</span>/9)</label></div>
    <div class="weui-cell__bd">
        <div class="page__bd">
            <div class="weui-gallery" id="gallery" onclick="imgToSmall();">
                <span class="weui-gallery__img" id="galleryImg"></span>
                <div class="weui-gallery__opr" style="position:absolute;margin-bottom: 50px;opacity: 0.6;background: #000;">
                    <a href="javascript:" class="weui-gallery__back" style="">
                        <i class="weui-icon-delete weui-icon_gallery-delete" style="margin-right: 20px;" data-id="{{if(ljk.upimgurl){}}{{=ljk.upimgurl}}{{}}}" id="delImg"></i>
                        <i class="weui-icon-back weui-icon_gallery-back" style="margin-left: 20px;"></i>
                    </a>
                </div>
            </div>
            <div class="weui-uploader">
                <div class="weui-uploader__bd">
                    <ul class="weui-uploader__files" id="uploaderFiles">
                    {{if(ljk.imgs){}}
                    <input type="hidden" id="imgids" name="imgsid" value="{{=ljk.imgs.imgsid}}" />
                    {{for(var i=0; i<ljk.imgs.urls.length; i++){}}
                    {{if(ljk.imgs.urls[i]!=''){}}
                    <li class="weui-uploader__file fjimg" style="background-image:url({{=ljk.imgs.urls[i]}});" onclick="imgToBig(this,this.parentNode);"></li>
                    {{}}}
                    {{}}}
                    {{}}}
                    {{if(ljk.localids){}}
                    {{for(var i=0; i<ljk.localids.length; i++){}}
                    <li class="weui-uploader__file weui-uploader__file_status fjimg" data-filename="{{=ljk.localids[i]}}" style="background-image:url({{=ljk.localids[i]}})" onclick="imgToBig(this,this.parentNode);"></li>
                    {{}}}
                    {{}}}
                    </ul>
                    {{if(ljk.imgs){}}
                    {{if(ljk.imgs.urls.length<9){}}
                    {if !is_weixin()}
                    <div class="weui-uploader__input-box" style="margin-right:3px;margin-bottom: 3px;width:59px;height: 59px;" id="fileInputBox">
                        <input id="uploaderInput" class="weui-uploader__input" type="file" onchange="uploadImg(this);" accept="image/png,image/gif,image/jpeg" multiple />
                    </div>
                    {else}
                    <button class="weui-uploader__input-box" style="margin-right:3px;margin-bottom: 3px;width:59px;height: 59px;" id="fileInputBox" onclick="wxUpload(this.form,{$gUser.wx_upload_type});"></button>
                    {/if}
                    {{}}}
                    {{if(ljk.imgs.urls.length>=9){}}
                    {if !is_weixin()}
                    <div class="weui-uploader__input-box" id="fileInputBox" style="display: none;">
                        <input id="uploaderInput"  style="margin-right:3px;margin-bottom: 3px;width:59px;height: 59px;" class="weui-uploader__input" type="file" onchange="uploadImg(this);" accept="image/png,image/gif,image/jpeg" multiple />
                    </div>
                    {else}
                    <button class="weui-uploader__input-box" id="fileInputBox" style="margin-right:3px;margin-bottom: 3px;width:59px;height: 59px;display: none;" onclick="wxUpload(this.form,{$gUser.wx_upload_type});"></button>
                    {/if}
                    {{}}}
                    {{}}}
                </div>
            </div>
        </div>
    </div>
</div>