<!--信息详情-->
<script type="text/html" id="tpl_Information_details_active">
<div class="page">
<!--顶部--->
  <div class="ljk_top">
     <a class=" top_left js_item" data-id="Active_message" href="javascript:;">
         <i class="fa fa-angle-left fa-2x"></i>
     </a>
	  <a class=" top_right js_item" data-id="Personal_Center" href="javascript:;">
         
     </a> 
     <p class="weui-flex__item top_center">信息详情</p>
  </div>
  <!---顶部--> 
 
   
<!--内容-->
<div class="ljk_neirong">
	 <div class="page__bd">
        <div class="weui-panel weui-panel_access">
          
		<div class="weui-cells page__category-content" style=" margin-top: 0px;">
				
					 <article class="weui-article">
         
                <h2 class="title">促销买的多得的也多</h2>
				 <p style="font-size: 5px;color: darkgray;"> 活动消息 2016-09-12 12：12：12</p>
                <section>
                  
                    <p style="font-size: 12px;">
					买3箱送一箱，买5箱送一箱半。
                    </p>
                    
                </section>
		
   </div>
</div>
<div style="width:100%; height:57px;"></div>
<!--内容-->
</div>
<script type="text/javascript">
    	dianji();
</script>
</script>
<!--信息详情-->