 <div class="xiaoxi" style=" margin-top:60px; ">
      <h5 style="padding:0px 9px; vertical-align:middle; ">系统跟新<i class="fa fa-circle tishi" style="font-size: 12px;line-height: 21px;"></i></h5> 
      <div  class="xiaoxi_rq" style="">2017-03-01</div>
      <div  class="xiaoxi_neirong" style="">配送商系统，跟新了订单。</div>
      <div  class="xiaoxi_cakan"><a  class="js_item" href="javascript:void(0);" data-id="Information_details_system" style="">查看信息</a></div>
   </div>
   <div class="xiaoxi" style="">
      <h5 style=" padding:0px 9px; vertical-align:middle; ">图片<i class="fa fa-circle tishi" style="font-size: 12px;line-height: 21px;"></i></h5> 
      <div  class="xiaoxi_rq" style="">2017-03-01</div>
      <div  class="xiaoxi_img"><img src="/ljk/static/ljk_sj/images/a3.jpg" ></div>
      <div  class="xiaoxi_cakan"><a  class="js_item" href="javascript:void(0);" data-id="Information_details_personal" style="">查看信息</a></div>
   </div>
   <div class="xiaoxi" style="">
      <h5 style=" padding:0px 9px; vertical-align:middle; ">促销买的多得的也多<i class="fa fa-circle tishi" style="font-size: 12px;line-height: 21px;"></i></h5> 
      <div  class="xiaoxi_rq" style="">2017-03-01</div>
      <div  class="xiaoxi_neirong" style="">买3箱送一箱，买5箱送一箱半。</div>
      <div  class="xiaoxi_cakan"><a  class="js_item" href="javascript:void(0);" data-id="Information_details_active" style="">查看信息</a></div>
   </div>