<!--信息-->
<script type="text/html" id="tpl_news">
<div class="page">
<!--顶部--->
 <div class="ljk_top">
     <p class="weui-flex__item top_center">消息</p>
  </div>
  <!---顶部--> 

<!--内容-->
<div class="ljk_neirong">
    <div class="page__bd">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd">
                <!--a  class="weui-media-box weui-media-box_appmsg js_item" data-id="Active_message" href="javascript:;">
                    <div class="weui-media-box__hd" style=" position: relative;margin-right: 10px; width: 40px; height:40px; background: #FF9600;line-height: 40px; color: #fff; border-radius: 20px; font-size: 1.4em;">
                        <i class="fa fa-volume-up" aria-hidden="true"></i>
                        <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">8</span>
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">活动消息</h4>
                        <p class="weui-media-box__desc" style="-webkit-line-clamp: 1;">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                    </div>
                </a-->
                <div style="text-align:center; color:#CBCBCB; padding-top:2em;">
                    <i class="fa fa-file-text-o fa-5x"></i><br>
                    <span>没有消息！</span>
                </div>      
            </div>
        </div>
        <div style="width:100%; height:57px;"></div>
<!--内容-->
    </div>
</div>
<script type="text/javascript">
    goSys('m_index_index');
    dianji();
</script>
</script>
<!--信息-->