<script type="text/html" id="tpl_System_message">
<div class="page">
<!--顶部--->
  <div class="ljk_top">
     <a class=" top_left js_item" data-id="news" href="javascript:;">
         <i class="fa fa-angle-left fa-2x"></i>
     </a> 
	   <a class=" top_right js_item" data-id="Personal_Center" href="javascript:;">
         
     </a>
     <p class="weui-flex__item top_center">系统消息</p>
	 <a class=" top_right js_item" data-id="Personal_Center" href="javascript:;"></a>
  </div>
  <!---顶部--> 
  <!---内容-->
    <div class="ljk_neirong">
	 {include file="index/news/Message_content" /}
     </div>
  <!--内容-->
</div>

<script type="text/javascript">
   	dianji();

</script>
