<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:15%;">小组名称</th>
                <th style="width:15%;">绑定车辆</th>
                <th style="width:35%;">小组成员</th>
                <th style="width:15%;">最后修改</th>
                <th style="width:5%;">状态</th>
                <th style="width:15%;">操作</th>
            </tr>
        </thead>
        <tbody>
        	{if condition="$pageInfo.t neq 0"}
        	{volist name="$disData" id="vo" }
            <tr>
                <td>{$vo.title}</td>
                <td>
                    {if $vo.car }
                    {$vo.car.cartype } {$vo.car.carnum }
                    {else/}
                    没有绑定
                    {/if}
                </td>
                <td>
                    <div style="width:100%;display: flex;flex-direction:row;flex-wrap: wrap;align-items: center;justify-content: flex-start;">
                        {volist name="$vo.t_list" id="gl" }
                        {if $gl.type eq 0 }
                        <label style="margin:3px;" class="label label-success">{$gl.t_name }{if $gl.leader eq 1}【<span  style="color:yellow;">组长</span>】{/if}</label>
                        {else/}
                        <label style="margin:3px;" class="label label-info">{$gl.t_name }</label>
                        {/if}
                        {/volist}
                    </div>
                </td>
                <td>{:date( 'Y-m-d H:i:s', $vo.ctime); }</td>
                <td>
                    {if condition="$vo.status eq 1"}
                    有效
                    {elseif condition="$vo.status eq 0"}
                    禁用
                    {else/}
                    未知
                    {/if}
                </td>
                <td>
                    <button class="btn btn-success btn-sm" data-id="groupDialog" onclick="dlgDotAjax(this, '/admin/dispatch/group',{ action: 'edit',id:{$vo.id } });">编辑</button>
                </td>
            </tr>
            {/volist}
            {else/}
            <tr><td colspan="6" style="text-align: center;color:red;">没有找到符合条件的记录！</td></tr>
            {/if}
        </tbody>
    </table>
</div>
{include file="common/page"}