<!-- 订单支付 -->
<div class="modal inmodal in" id="orderStatusEditDialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> <span aria-hidden="true">×</span> <span class="sr-only">Close</span> </button>
                <h4 class="modal-title">订单状态</h4>
            </div>
            <form class="form-horizontal jl_order_mcard_pay" method="post" action="/admin/orderrn/orderInfo" id="orderstatusedit_blo" enctype="multipart/form-data" onsubmit="return false;">
            </form>
        </div>
    </div>
</div>
<!-- 订单支付 end -->