<div class="weui-tabbar footer_bar footer_m_index_home" style="position: fixed;display: none;">
    <a class="weui-tabbar__item" data-click="goSys('m_index_home','m_index_home');" id="m_index_home" href="javascript:;">
        <i class="fa fa-home weui-tabbar__icon"></i>
        <p class="weui-tabbar__label">首页</p>
    </a>
    <a class="weui-tabbar__item" data-click="orderList({uid:''},'m_order_index');" id="m_order_index" href="javascript:;">
        <i class="fa fa-file-text weui-tabbar__icon"></i>
        <p class="weui-tabbar__label">订单</p>
    </a>
    <a class="weui-tabbar__item" data-click="userList({type:1,url:'/m/user/index'},'m_user_index');" id="m_user_index" href="javascript:;">
        <i class="fa fa-users weui-tabbar__icon"></i>
        <p class="weui-tabbar__label">客户</p>
    </a>
    <a class="weui-tabbar__item" data-click="gohomezhuye();">
        <i class="fa fa-sitemap weui-tabbar__icon"></i>
        <p class="weui-tabbar__label">功能</p>
    </a>
</div>