<div class="table-responsive">
     <table class="table table-striped">
         <thead>				
             <tr>
                 <th>商品名称</th>
                 <th>数量</th>
                 <th>生产日期</th>
                 <th>上报时间</th>
                 <th>备注</th>
              </tr>
         </thead>
         <tbody id="stocklist">
             {if $stocklist}
             {foreach name="stocklist" item="stock"}
             <tr>
                 <td>{$stock.goodsname}</td>
                 <td>{$stock.num}{$stock.unit}</td>
                 <td>{$stock.mdate}</td>
                 <td>{$stock.adate}</td>
                 <td>{$stock.code}</td>
              </tr>   
              {/foreach}
              {else/}
              <tr><td colspan="5" style="color: red;text-align: center;">该时间段未上报该客户库存信息，您可以重新设置时间段再查询！</td></tr>
              {/if}
         </tbody>
     </table>
 </div>
 {include file="common/page"}  