{include file="common/header"}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=F1e135ea865b3fab751d242cee1f3a67"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>
</head>
<body>
<div id='imgBox' style='display:none;position: absolute;z-index: 9999;'></div>
{include file="common/warning"}
    {include file="common/tips"}
    <div id="wrapper">
  <div class="gray-bg dashbard-1">
        <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-sm-11">
            <h2>客户地图</h2>
            <ol class="breadcrumb">
          <li> <a href="{$Request.module}" title="index.html">首页</a> </li>
          <li> <a href="{$Request.module}/user/index">客户</a> </li>
          <li> <strong>客户地图</strong> </li>
        </ol>
          </div>
      <div class="col-sm-1"> <br>
          </div>
    </div>
        <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
            <div class="col-sm-12">
          <div class="ibox float-e-margins">
                <div class="ibox-content">
              <div class="row">
                    <div class="col-sm-12">
                  <form id='{$initData.sign}SearchForm' action="{$initData.requestUrl}" onSubmit="return false;"><input type="hidden" name="lng" id="lng" value="{$groupinfo.y}" /><input type="hidden" name="lat" id="lat" value="{$groupinfo.x}" />
                        {include file="user/search/user_ditu_search"}
                      </form>
                </div>
                  </div>
              <p>（客户地图功能只显示地图上已经标注的客户信息！如需查看未标注客户，可前往客户管理页面查看）</p>
              <!--<p>说明：没有标注地理位置的客户不显示。</p>-->
              <div class="table-responsive ">
                    <div id="l-map" style="width:100%;height: 600px;"></div>
                    <div id="r-result"></div>
                  </div>
            </div>
              </div>
        </div>
          </div>
    </div>
        <div id="mapUserDetail"></div>
      </div>
</div>
{include file="common/footerjs"} 
<div id="searchScript"> 
<script type="text/javascript">


var markers = [];
    window.map = new BMap.Map("l-map");
    map.centerAndZoom(new BMap.Point({$groupinfo.y},{$groupinfo.x}),14);
	map.addEventListener("dragend", function(e1){
				// alert(e1.point.lng+','+e1.point.lat);
		 $('#lat').val(e1.point.lat);
		 $('#lng').val(e1.point.lng);
		 hqtg();
		 
	});
	
function hqtg(){
	var cid = '#{$initData.sign}SearchForm';
	$(cid).ajaxSubmit(
			{
				type:'post',
				success:function (text){
					if(text.code==1){
						console.log(1);
						remove_overlay();  //清除原加载点
						}
					if(text.data){
					window.searchClass = new SearchClass();
					console.log(text.data);
					searchClass.setData(text.data)
					var dd = searchClass.search({k:"title",d:"2013",t:"more",s:"all"});
					addMarker(dd);//向地图中添加marker
				    }
				}
			}
		);
}
//创建和初始化地图函数：
function initMap(){
	map.enableScrollWheelZoom();                            //启用滚轮放大缩小
	map.addControl(new BMap.ScaleControl());                    // 添加默认比例尺控件	 
	map.addControl(new BMap.NavigationControl());
    hqtg();
}
//清除覆盖物
function remove_overlay(){
		map.clearOverlays();         
	}
// 编写自定义函数,创建标注
function addm(point){
  var marker = new BMap.Marker(point);
  map.addOverlay(marker);
}
  var mks=[];
//创建marker
window.addMarker = function (data){
    map.clearOverlays();
    for(var i=0;i<data.length;i++){
        var json = data[i];
        var p0 = json.point.split("|")[0];
        var p1 = json.point.split("|")[1];
		if(mks.indexOf(p0 + ',' + p1) === -1){
		mks.push(p0 + ',' + p1);
        var point = new BMap.Point(p0,p1);
        var iconImg = createIcon(json.icon);
     //   var marker = new BMap.Marker(point,{icon:iconImg});
        var marker = new BMap.Marker(point);
		markers.push(marker);
        //var iw = createInfoWindow(i);
        var label = new BMap.Label('<a style="border:1px #f00 solid;color:#000;" class="J_menuItem" data-index="user_detail_'+ json.uid +'" href="/{$Request.module}/user/detail/uid/' + json.uid + '" onclick="return c(this);">' + json.title + '<span style="display: none;">详情</span></a>',{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
        marker.setLabel(label);
      //  map.addOverlay(marker);
        label.setStyle({
                    border:'none',
                    color:"#000",
                    backgroundColor:0,
                    cursor:"pointer"
        });
        (function(){
			var _json = json;
			//var _iw = createInfoWindow(_json);
			var _marker = marker;
			_marker.addEventListener("click",function(){
				//this.openInfoWindow(_iw);
				//document.getElementById("r-result").innerHTML = createInfo(_json);
                                var label = new BMap.Label('<a style="border:1px #f00 solid;color:#000;" class="J_menuItem" data-index="user_detail_'+ _json.uid +'" href="/{$Request.module}/user/detail/uid/' + _json.uid + '" onclick="return c(this);">' + _json.title + '<span style="display: none;">详情</span></a>',{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
                                label.setStyle({
                                    border:'none',
                                    color:"#000",
                                    backgroundColor:0,
                                    cursor:"pointer"
                                });
                                _marker.setLabel(label);			
			   });
			  
		})()
		}
    }
	var markerClusterer = new BMapLib.MarkerClusterer(map, {markers:markers});
	markerClusterer.setMaxZoom(16);
}
//创建InfoWindow
function createInfoWindow(json){
    var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
    return iw;
}

//创建文本标注
function createLabel(point,text){
	var opts = {
	  position : point,    // 指定文本标注所在的地理位置
	  offset   : new BMap.Size(5, -30)    //设置文本偏移量
	 
	}
	var label = new BMap.Label(text, opts);  // 创建文本标注对象
		label.setStyle({
			 color : "red",
			 fontSize : "12px",
			 height : "20px",
			 lineHeight : "20px",
			 fontFamily:"微软雅黑"
		 });
	map.addOverlay(label);
}
//创建InfoWindow
function createInfo(json){
    var iw = "<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>";
    return iw;
}
//创建一个Icon
function createIcon(json){
    var icon = new BMap.Icon("/resource/images/location.gif", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowAnchor:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
    return icon;
}

function SearchClass(data){
    this.datas = data;
}
SearchClass.prototype.search = function(rule){
    if(this.datas == null){alert("数据不存在!");return false;}
    if(this.trim(rule) == "" || this.trim(rule.d) == "" || this.trim(rule.k) == "" || this.trim(rule.t) == ""){alert("请指定要搜索内容!");return false;}
    var reval = [];
    var datas = this.datas;
    var len = datas.length;
    var me = this;
    var ruleReg = new RegExp(this.trim(rule.d));
    var hasOpen = false;
    
    var addData = function(data,isOpen){
        // 第一条数据打开信息窗口
        if(isOpen && !hasOpen){
            hasOpen = true;
            data.isOpen = 1;
        }else{
            data.isOpen = 0;
        }
        reval.push(data);
    }
    var getData = function(data,key){
        var ks = me.trim(key).split(/\./);
        var i = null,s = "data";
        if(ks.length == 0){
            return data;
        }else{
            for(var i = 0; i < ks.length; i++){
                s += '["' + ks[i] + '"]';
            }
            return eval(s);
        }
    }
    for(var cnt = 0; cnt < len; cnt++){
        var data = datas[cnt];
        var d = getData(data,rule.k);
        if(rule.t == "single" && rule.d == d){
            addData(data,true);
        }else if(rule.t != "single" && ruleReg.test(d)){
            addData(data,true);
        }else if(rule.s == "all"){
            addData(data,false);
        }
    }
    return reval;
}
SearchClass.prototype.setData = function(data){
    this.datas = data;
}
SearchClass.prototype.trim = function(str){
 if(str == null){str = "";}else{ str = str.toString();}
    return str.replace(/(^[\s\t\xa0\u3000]+)|([\u3000\xa0\s\t]+$)/g, "");
}   
initMap();//创建和初始化地图

</script> 
</div>
</body>
</html>