    <div class="row">  
    <div class="col-sm-6">
        <div  id="pageInfo" class="dataTables_info" id="DataTables_Table_0_info" role="alert" aria-live="polite" aria-relevant="all">
            {$pageInfo}
        </div>
    </div>
    {if $multipage}
    <div class="col-sm-6">
        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
            <ul class="pagination" id="multipage">
                {foreach name="$multipage" item="page key=k}
                {if $page.2 != ''}
                <li class="paginate_button previous" aria-controls="DataTables_Table_0" tabindex="0" id="DataTables_Table_0_previous">
                    <a href="{$page.1}">{$page.0}</a>
                </li>
                {else /}
                {if $page.1 == ''}
                <li class="paginate_button active" aria-controls="DataTables_Table_0" tabindex="0">
                    <a href="javascript:void(0);">{$page.0}</a>
                </li>
                {else /}
                <li class="paginate_button" aria-controls="DataTables_Table_0" tabindex="0">
                    <a href="{$page.1}">{$page.0}</a>
                </li> 
                {/if}
                {/if}
                {/foreach}
            </ul>
        </div>
    </div>
    {/if}
</div>
