<form method="post" action="/admin/{$_controllerName|strtolower}/{$_actionName|strtolower}search" onsubmit="return false;" id="quoteSearchForm">
<div class="row">
    {if $is_stock<>0}
   <div class="col-sm-1" style=" padding-right:0px; width:110px;margin-right: 10px;">
        <div class="input-group">
            <select class="input-sm form-control" name="is_stock" style="width: 110px;" onchange="{$_controllerName|strtolower}{if $actName}{$actName|ucfirst}{else/}{$_actionName|ucfirst}{/if}Search(1);">
                <option value="" {if $conditions.is_stock == ''}selected{/if}>终端库存</option>
                <option value="0" {if $conditions.is_stock == '0'}selected{/if}>不需要上报</option>
                <option value="1" {if $conditions.is_stock == '1'}selected{/if}>需要上报</option>
            </select>
        </div>
    </div>
    {/if}
   <div class="col-sm-1" style=" padding-right:0px; width:110px;margin-right: 10px;" >
        <div class="input-group">
           <select class="input-sm form-control" name="type" style="width: 110px;">
                <option value="goods_name" {if $conditions.type == 'goods_name'}selected{/if}>产品名称</option>
                <option value="seller_note" {if $conditions.type == 'seller_note'}selected{/if}>条形码</option>
                <option value="goods_sn" {if $conditions.type == 'goods_sn'}selected{/if}>货号</option>
                <option value="keywords" {if $conditions.type == 'keywords'}selected{/if}>商品关键词</option>
            </select>
        </div>
    </div> 
 <!--style=" padding-left:0px; margin-right:0px;"-->
    <div class="col-sm-3"  >
        <div class="input-group">
            <input type="text" name="keywords" class="input-sm form-control" value="{if $conditions.keywords}{$conditions.keywords}{else/}{/if}" oninput="{$_controllerName|strtolower}{if $actName}{$actName|ucfirst}{else/}{$_actionName|ucfirst}{/if}Search(1);" size="15" />
            <span class="input-group-btn">
            <button type="button" class="btn btn-sm btn-primary" onclick="{$_controllerName|strtolower}{if $actName}{$actName|ucfirst}{else/}{$_actionName|ucfirst}{/if}Search(1);"> 搜索</button> </span>
            </span>
        </div>
    </div> 
    {if $more<> '0'}
    <div class="col-sm-2 m-b-xs">
        <button type="button" class="btn btn-sm btn-primary" id="genduo">更多</button>
    </div>
    {/if}
</div>
{if $more<> '0'}
    <div class="row" id="saixuan" style=" display:none;">
        <div>
        <div>
            <!------一级分类-------->
            <ul style="padding:0px; margin-bottom: 20px; border-bottom:1px solid #f3f3f4; " id="firstNav">
                {foreach name="$pclists" item="pclist}
                <li  style="padding:3px 5px; display: inline-block; text-align:center; margin: 10px 5px;  cursor:pointer;" onclick="getClists(this,'/admin/{$_controllerName|strtolower}/getcclistss/pid/{$pclist.id}','{$pclist.id}','{$ocatid}');">{$pclist.title}</li>
                {/foreach}
            </ul>                                                
            <!--------一级分类------>
        </div>
        </div>
        <div id="cclists">
            <!------二级分类-------->
            <ul  id="cclists_{$firstcclistspid}" style="list-style-type: none;">
            </ul>
        </div>
    </div>
{/if}
</form>